@model ResourceManagerSystem.Models.Delivery

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Delivery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lot.LotID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reep)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reep.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DeliveryID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
