@model IEnumerable<ResourceManagerSystem.Models.Color>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColorName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ColorName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ColorName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ColorName">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
