@model List<ResourceManagerSystem.Models.DeliveryModelView>

@{
    ViewData["Title"] = "AddItems";
}


<h2>AddItems</h2>

<h4>DeliveryModelView</h4>
<hr />

<div class="row">
    <div class="">
        <form asp-action="AddItems" method="post">
            <div class="col-md-4 navbar-fixed-top">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
            @for (int i = 0; i < Model.Count; i++)
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="jumbotron">
                <div class="container">

                    <div>
                        <input asp-for="@Model[i].LotID" class="control-label" hidden>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="@Model[i].ReppID" class="control-label"></label>
                        <select asp-for="@Model[i].ReppID" class="form-control" asp-items="ViewBag.ReppID" onload="editableSelect()"></select>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="@Model[i].Description" class="control-label"></label>
                        <input asp-for="@Model[i].Description" class="form-control" />
                        <span asp-validation-for="@Model[i].Description" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="@Model[i].SizeName" class="control-label"></label>
                        <select asp-for="@Model[i].SizeName" class="form-control" asp-items="ViewBag.SizeName"></select>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="@Model[i].ColorName" class="control-label"></label>
                        <select asp-for="@Model[i].ColorName" class="form-control" asp-items="ViewBag.ColorName"></select>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="@Model[i].Brand" class="control-label"></label>
                        <input asp-for="@Model[i].Brand" class="form-control" />
                        <span asp-validation-for="@Model[i].Brand" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="@Model[i].Quantity" class="control-label"></label>
                        <input asp-for="@Model[i].Quantity" class="form-control" />
                        <span asp-validation-for="@Model[i].Quantity" class="text-danger"></span>
                    </div>
                </div>
            </div>
    }

        </form>
        <button id="Farol">Farol</button>
        <select id="editable-select">
            <option>Alfa Romeo</option>
            <option selected>Audi</option>
            <option>BMW</option>
            <option>Citroen</option>
        </select>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
<link href="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css" rel="stylesheet" />
<script>
    var fun = function () {
        var id;
        id = '#z1__ReppID';
        $(id).editableSelect();
        for (i = 0; i < 50; i++) {
            id = '#z' + i + '__ReppID';
            $(id).editableSelect();
            id = '#z' + i + '__ColorName';
            $(id).editableSelect();
            id = '#z' + i + '__SizeName';
            $(id).editableSelect();

            
        }
    };
    $('#editable-select').editableSelect();
    $('#Farol').click(fun);
    $('#Farol').click(fun);
</script>
