@model Dictionary<string, IEnumerable<string>>
@{
    ViewData["Title"] = "VerifyProductsAvaiable";
}

<h2>VerifyProductsAvaiable</h2>


<div class="row">
    <div class="alert-warning col-lg-5">Antes de añadir Repp de entrada a su lote verifique que los repps, colores y tamaños que requiera estan en la lista</div>
    <a href="" class="btn btn-success" data-toggle="modal" data-target="#Masive">Continue</a>

</div>

</br>


<div class="modal fade" id="Masive" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Massive create</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="AddItems" method="get" enctype="multipart/form-data" id="FormQuantity">
                    <div>Ingrese la cantidad de repps que agregara en el lote</div>
                    <input type="hidden" name="lot" id="lot" value="@Model["Lot"].First()" />
                    <input type="number" class="form-controL" id="quantity" name="quantity" />
                    <input type="submit" class="btn btn-primary" value="Continuar" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>





<div class="row">
    <div class="col-lg-4">
        <table class="table">
            <thead>
                <tr>
                    <th>

                        @await Html.PartialAsync("_CreateRepp", new REPP() { })

                        <br />
                        Repps Disponibles

                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model["Repps"])
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item)
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @await Html.PartialAsync("_CreateColor", new Color() { })
                        <br />
                        Colores Disponibles
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model["Colors"])
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item)
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @await Html.PartialAsync("_CreateSize", new Size() { })
                        <br />
                        Tamaños Disponibles
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model["Sizes"])
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item)
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-3">
        </br>
        </br>
        </br>
        </br>
        <div class="affix form-group">
            <form asp-action="AddItems" method="get" enctype="multipart/form-data" id="FormQuantity">
                <div>Ingrese la cantidad de repps que agregara en el lote</div>
                <input type="hidden" name="lot" id="lot" value="@Model["Lot"].First()" />
                <input type="number" class="form-controL" id="quantity" name="quantity" />
                <input type="submit" class="btn btn-success" value="Continuar" />
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/DataTables/datatables.js"></script>
<link href="~/lib/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script src="~/lib/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>

<script>
    $("table").DataTable({
        "paging": false,
        "ordering": false,
        "info": false
    });
</script>

<script>
    var reloadPost = function (event) {
        var $this = $(this);
        var frmValues = $this.serialize();
        $.ajax({
            type: $this.attr('method'),
            url: $this.attr('action'),
            data: frmValues
        })
            .done(function () {
                location.reload();
            })
        event.preventDefault();
    };
    $("#ColorFrom").on("submit", reloadPost);
    $("#ReppForm").on("submit", reloadPost);
    $("#SizeForm").on("submit", reloadPost);
</script>


