@model IEnumerable<ResourceManagerSystem.Models.CollectionREPP>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Operative)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.REEP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Operative.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REEP.ReppName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CollectionREPPID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CollectionREPPID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CollectionREPPID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("_ContentDataTable")